*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 63.5%;
}

body {
    font-size: 1.6rem;
    color: black;
    font-family: 'Inter', sans-serif;

    @include tablet {
        width: 60%;
        margin: 0 auto;
    }

    @include desktop {
        width: 45%;
    }

}


a {
    color: currentColor;
}