@import "mixins";

.nav {
    padding: 1rem;

    @include tablet {
        padding: 2rem 1rem;
    }

    .intro {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .welcome {
            font-weight: bold;

            span {
                font-weight: 400;
                text-transform: capitalize;
            }
        }

        .logout {
            color: black;
            padding: 1rem;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid black;
            text-transform: capitalize;
        }
    }
}